@import '//fonts.googleapis.com/css?family=Lato:400,400italic|Arvo:700,400,400italic';

.local_slider {
    background: #F0EFE7;
    margin: 0;
    padding: 0;
    font: 15px/1.5 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4E443C;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

.local_slider h1,.local_slider h2,.local_slider h3,.local_slider h4,.local_slider h5,.local_slider h6 {
  font-family: 'Arvo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

.local_slider h1 {
    color: #4E443C;
    font-size: 36px;
    font-weight: bold;
}

.local_slider h2,.local_slider h2 a {
    color: #F14E32;
}

.local_slider h3,.local_slider h3 a {
  color: #0388A6;
}

.local_slider a {
  color: #0388A6;
}

.local_slider pre {
  border:1px solid #000;
  overflow-x:auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}

.local_slider .wrapper {
    width: 100%;
    margin: auto;
}
